.Alert {
  align-items: stretch;
  color: #fff;
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 300;
  justify-content: space-between;
  line-height: 1.5;
  margin-bottom: 1px;
  padding: 10px 20px;
}

.Alert--success {
  background-color: #47dcaa;
}

.Alert--error {
  background-color: #e35252;
}

.Alert--info {
  background-color: #1b1b1b;
}

.Alert__close-control {
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.Alert__close-icon {
  cursor: pointer;
  height: 16px;
  width: 20px;
}
