.Foo {
  background-color: tomato;
  border-radius: 3px;
  box-shadow: 1px 2px 3px #000;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 30px;
  width: 500px;
}
